build/
*.so
test/a.txt
slurm*
makecommand2
log.lammps
.vscode/
dump*
test/cv_plot_kongbaiduizhao.png
test/cv_plot_with_1.png
test/cv_plot.png
test/FES.dat
test/FES.png
test/HILLS
test/HILLS_kongbaiduizhao
test/HILLS_with_1
test/plugin_rank0.nsys-rep
test/run.sh
test/wrap.sh
test/example_555_fcc/access.py
test/example_555_fcc/access.py:Zone.Identifier
test/example_555_fcc/cv_plot.png
test/example_555_fcc/FES.dat
test/example_555_fcc/FES.png
test/example_555_fcc/HILLS
test/FES.dat
test/FES.png
test/metad_debug_logging.txt
test/plugin_rank0.qdstrm
test/restart.liquidus
test/restart.normal
test/restart.v_cur_step
