build/
*.so
test/a.txt
slurm*
makecommand2
log.lammps
.vscode/
dump*
test/cv_*
test/FES.dat
test/FES.png
test/HILLS*
test/plugin_rank0.nsys-rep
test/example_555_fcc/
test/FES.dat
test/FES.png
test/metad_debug_logging.txt
test/plugin_rank0.qdstrm
test/restart.*
test/FES_1T1G.png
test/FES_2T1G.png
test/FES_4T1G.png
test/FES_8T1G.png
test/FES_12T1G.png
test/benchtest_threads/
test/templog
test/testlog_in_times
test/backoff/
test/example_333_fcc_1MPI/
test/example_555_fcc_nMPI/
test/Q3test/
test/rec.log
test/example_101010_fcc_nMPI/
test/example_333_fcc_nMPI/
test/*.lammpstrj
test/*.log
test/test_cvset/*
test/testSi/*
test/test_StruFactor/*
test/test_cvset/HILLS
